__pycache__
*.egg-info
*.th
*.so
/build
/htmlcov
/dist
/.coverage
/examples/cifar/data/
/examples/cifar/outputs/
/examples/deit/output/
/examples/cifar/src/data/
/examples/cifar/src/diffq/
/notebooks
/docs
/bitpack.c
/misc
examples/cifar/src/data/cifar10/cifar-10-python.tar.gz
cifar-10-*